basePath: /api
host: worm-bwqp.onrender.com
info:
  contact:
    email: support@swagger.io
    name: API Support
  description: ระบบ API สำหรับจัดการ User และข้อมูล Sensor
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: IoT Sensor API
  version: "1.0"
paths: {}
securityDefinitions:
  ApiKeyAuth:
    in: header
    name: X-API-KEY
    type: apiKey
swagger: "2.0"
